* {
  margin: 0;
}
body {
  font-family: "Segoe UI", Verdana, sans-serif;
  background-color: #bcbcbc;
}
header {
  width: 25%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-options {
  width: 100%;
  margin: 3% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.board-size-dropdown {
  margin-right: 3%;
}
header button {
  cursor: pointer;
  padding: 2% 8%;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #41a135;
  color: #fff;
}
#won,
#lose {
  display: none;
  font-weight: 700;
  font-size: 24px;
}
#won {
  color: #41a135;
}
#lose {
  color: crimson;
}

.board {
  position: relative;
  width: 34%;
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 13%;
  height: 65px;
  border: 1px solid #000;
  background-color: #41a135;
}
.bunny,
.rock,
.house,
.wolf {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bunny {
  background-image: url("../images/bunny.png");
}
.wolf {
  background-image: url("../images/wolf.png");
}
.rock {
  background-image: url("../images/rock.png");
}
.house {
  background-image: url("../images/house.png");
}
